<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<meta charset="utf-8" />
	<title>計算機</title>
</head>
 
<body>
	<h1>計算機</h1>
	<form action="result" method="get">
		<input type="number" name="num1">
		<select name="operator">
			<option value="plus">＋</option>
			<option value="minus">ー</option>
			<option value="multi">×</option>
			<option value="division">÷</option>
		</select>
		<input type="number" name="num2">
		<button type="submit">＝</button>
	</form>
	<p th:text="${result}"></p>
</body>
 
</html>